<div class="contenedor">
    <p>MÉXICO CITY</p>
    <img src="./../../../assets//IMG/cloudy.PNG" alt="cloudy">

    <div class="climaActual">
        <p>16°</p>
        <p>CLOUDS</p>
    </div>

    <div class="TemperaturaEsperadas">
        <div class="TemperaturaMinima">
            <p>19°</p>
            <p class="textoTemperatura">Min</p>
        </div>

        <div class="TemperaturaMaxima">
          <p>23°</p>
          <p class="textoTemperatura">Max</p>
       </div>
</div>

    <button>
        ADD CITY
    </button>
</div>

