<div class="Tarjeta">
  <p class="Titulo">{{ climaFiltradoRecibido.namecity }}</p>
  <img [src]="climaFiltradoRecibido.Imagen | construirUrlImagen" alt="cloudy" />
  <!--  http://openweathermap.org/img/wn/10d@2x.png -->
  <div class="climaActual">
    <p>{{ climaFiltradoRecibido.Temperature | kelvisCelsius }}</p>
    <p>{{ climaFiltradoRecibido.CurrentytWeather }}</p>
  </div>

  <div class="TemperaturaEsperadas">
    <div class="TemperaturaMinima">
      <p>{{ climaFiltradoRecibido.MaxTemperature | kelvisCelsius }}</p>
      <p class="textoTemperatura">Min</p>
    </div>

    <div class="TemperaturaMaxima">
      <p>{{ climaFiltradoRecibido.MinTemperature | kelvisCelsius }}</p>
      <p class="textoTemperatura">Max</p>
    </div>
  </div>

  <button (click)="AgregarCiudad()">
    ADD CITY
  </button>
</div>
