<div class="contenedor">
  <div class="back-arrow" (click)="IrHome()">
    <img [src]="ImagenRegresar" alt="arrowleft" />
  </div>

  <div class="contenedor-Buscador">
    <h2>Buscador de Ciudades</h2>

    <div class="input-search">
      <input #InputCiudad type="text" placeholder="Busca tu Ciudad" />
      <span><img [src]="ImagenBuscar" alt="" /></span>
    </div>

    <p *ngIf="!MostrarTarjeta" class="Texto">Ingresa una ciudad</p>

    <app-cards-weather
      *ngIf="MostrarTarjeta"
      [climaFiltradoRecibido]="FilterWeather"
      [mostrarBoton]="true"
    >
    </app-cards-weather>
  </div>
</div>
